/*=============== Responsive Website Bootcamp Final project ===============*/

body {
   margin:0;
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   background-color: #f8e2f7;
   color: #242424;
   line-height: 1.6;
   min-height: 100vh;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-main {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 600px) minmax(1em, 1fr);
}

.main-template {
    margin-top: 4em;
}

h1, h2, h3, strong {
    font-weight: 700;
}

h1 {
   font-size: 2rem;
   font-weight: 900;
}

h2 {
   font-size: 1.5rem;
}

h3 {
   font-size: 1 rem;
}

@media (min-width: 600px) {

    .grid-main {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(158px, 320px)) minmax(1em, 1fr);
        column-gap: 1em;  
    }

    h1, h2, h3 {
        margin-top: 0;
    }

    h1 {
        font-size: 3.5rem;   
    }
    
    h2 {
        font-size: 2.5rem;
        line-height: 1.2;
    }
    
    h3 {
        font-size: 1.25rem;
    }
}

/* ================== Typography ===================== */


a {
   color: #ac3fa6;
   font-weight: 700;
   text-decoration: none;
}

a:hover,
a:focus {
   color: #242424;
}

p {
   font-size: 1 rem;
   line-height: 1.5;
}

span.highlight {
    background-color: #a7d9a9;
    padding: 0.1em;
    display: inline-block;
    transform: skew(-5deg);
}

/* Current link */

span.current {
    padding: 0 5px 3px;
    color: #ac3fa6;
    border-bottom: 2px solid #ac3fa6;
}

.nav-link-current {
    pointer-events: none;
}

/* ============= Header ============== */

.header {
    margin: 0 auto;
    padding: 0.5em 0;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    z-index: 50;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 2/-2; 
} 

.nav { 
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0;
    transition: transform 450ms ease-in-out;
    transform: translateX(0);
    background-color:#242424; 
}

.nav-open { 
    transform: translateX(-100%);

}

.button-open-nav {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0 0 0 0.5em;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    transition: all ease-in-out 250ms;
}


.button-close-nav {
    position: absolute;
    top: 0.25em;
    right: 0.5em;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0.25em 0.25em;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #db61d5;
    transition: all ease-in-out 250ms;
}

.button-open-nav:hover,
.button-open-nav:focus {
    color: #972d92;
}

.button-close-nav:hover,
.button-close-nav:focus {
    color: #972d92;
}


.nav-list {
    margin:0;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin: 0.25em 0;
}

.nav-link { 
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.35em 1.25em;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
} 

.nav-link:hover,
.nav-link:focus {
    color: #ac3fa6 ;
}

.logo-link {
    font-size: 0; /* Remove bottom padding from link */
    margin: 0;
    align-self: center;
}

.logo {
    height: 50px;
    width: 50px;
}


@media (min-width: 1000px) {

    .header-content {
        align-items: center;
    } 

    .button-open-nav,
    .button-close-nav {
        display: none;
    }

    .nav { 
        transform: translateX(0vw);
        position: initial;
        display: flex;
        justify-content: flex-end;
        background-color: #FFF;
    }
    
    .nav-list {
        flex-direction:row;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 1em;
    }
    
    .nav-link { 
        padding: 0.25em 1.25em;
        color: #242424;
        font-size: 1rem;
    }     
} 

/* ================ Homepage ================== */

.section-background {
    background-image: url("/Images/Laughing-woman-laptop.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 /-2;
    padding: 3em 0;
    background-color: #fff;
}

.section-background > * {
    grid-column: 2 /-2;
}

.home-title {
    line-height: 1.2;
    margin: 0;
}

.home-description {
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 2em;
    margin: 1em 0;
}

.button-primary {
    padding: 1em 2.5em;
    justify-self: start;
    text-align: center;
    background-color: #ca49c4;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    grid-column: 2 / span 1;
    transition: all ease-in-out 250ms;
 } 

.button-primary:hover,
.button-primary:focus {
    background-color: #a7d9a9;
    color: #000; 
    transform: scale(1.05);
}   

/* CTA */

.section-cta {
    grid-column: 2 / -2;
    column-gap: 1em;
    grid-template-rows: min-content minmax(150px,200px) auto;
    background-image: url(/Images/people-next-window.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0;
    background-color: #000;
    text-align: center;
    margin: 0;
    align-items: start;
}

.section-cta > * {
    grid-column: 2 /-2;
}

.section-cta-title {
    font-weight: 900;
    color: #fff;
    margin: 0 0 1em;
    line-height: 1.2;
    padding: 0;
    text-transform: uppercase;
}

.section-cta-subtitle {
    font-weight: 400;
    font-size: 1rem;
    order: -1;
    color: #a7d9a9;
    margin: 0;
    align-self: end;
}

.button-cta {
    justify-self: center;
    align-self: end;
    padding: 0.5em 2em;
}

/* Section Gadgets */

.section-gadgets {
    padding: 4em 0;
    grid-column: 2 / -2;
    background-color: #fff;
}

.section-gadgets > * {
    grid-column: 2 / -2;
}

.section-gadgets-image {
    justify-self: center;
    grid-column: 2 / -2;
    grid-row: 3 / span 1;
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    object-fit: cover;
    transform: rotate(-2deg);
    z-index: 1;
}

.section-gadgets-title {
    grid-row: 2;
    font-weight: 700;
    margin: 0 0 0.5em;
    line-height: 1.2;
}

.section-gadgets-subtitle {
    font-weight: 700;
    font-size: 1rem;
    color: #ac3fa6;
    margin: 0;
    grid-row: 1;
    text-transform: uppercase;
}

.section-gadgets-text {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6;
    color: #fff;
    margin: 0;
    align-self: center;
    grid-row: 3;
    grid-column: -2/ 2;
    z-index: 2;
    padding: 1em 2em;
    position: relative;
}

.section-gadgets-text::after {
    content:"";
    width: 100%;
    height: 100%;
    background-color: #242424;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: -1;
    opacity: 0.75;
    transform: skew(2deg);
}

/* ===== Blog ===== */

.section-blog {
    padding: 2em 0;
    background-color: rgb(253, 253, 253);
    grid-column: 2 / -2 ;
}

.section-blog-title {
    margin: 0 0 0.5em;
    text-transform: uppercase;
    grid-column: 2 / -2 
}

.section-blog-wrapper {
    grid-column: 2 / -2;
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.section-blog-card {
    margin-bottom: 1em;
    align-self: start;
    padding: 1em;
    background-color: #fff;
    border: 1px solid rgb(235, 235, 235)
}

.blog-card-featured {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
}


.blog-card-title {
    position: relative;
    margin: 0.5em 0 0;
}


.blog-card-date {
    margin: 0;
    font-size: 0.8rem;
    font-style: italic;
}

.blog-card-text {
    margin: 0;
    padding: 0.5em 0 1em;
}




@media (min-width: 600px) {
    .section-gadgets-text::after {
        display: none;
    }
    
    .section-gadgets {
        grid-template-columns: minmax(1em, 1fr) repeat(4, minmax(114.5px, 236px)) minmax(1em, 1fr);
        grid-template-rows: 1.2em auto 1fr;
        column-gap: 1em;  
    }

    .section-gadgets-image {
        grid-column: 2 / span 2;
        grid-row: 1 / span 3;
        width: 80%;
        justify-self: start;
        align-self: stretch;
        max-width: 600px;
        min-height: 200px;
    }

    .section-gadgets-text {
        font-weight: 400;
        font-size: 1.25rem;
        margin: 0;
        padding: 0;
        align-self: start;
        grid-column: 4 / -2;
        grid-row: 3;
        color: #242424;
    }

    .section-gadgets-title {
        grid-column: 4 / -2;
        grid-row: 2;  
        margin: 0.25em 0;     
    }
    
    .section-gadgets-subtitle {
        grid-column: 4 / -2;
        grid-row: 1;
    }
}

@media (min-width: 880px) {

    .section-gadgets {
        margin: 2em;
    }

    .section-background {
        padding: 4em 0;
        width: 100vw;
        max-width: 1920px;
        grid-column: 1 /-1;
        background-position: center;
    }

    .home-title {
        grid-column: 2 / 4;
        margin: 0;
        padding-right: 0.5em;
    }

    .home-description {
        grid-column: 2 / 4;
        padding-right: 2em;
    }
    
    .button-primary {
        justify-self: stretch;
    }

    .section-cta {
        margin-top: 2em;
        grid-template-rows: auto minmax(150px,200px) auto;
    }

    .contact-margin {
        margin-top: 4em;
    }

    .button-cta {
        justify-self: center;
    }

    .section-gadgets-text {
        padding-right: 2em;
        margin-top: 0.5em;
    }

}

.section-companies{
    grid-column: 2 /-2;
    /* grid-row-gap: 1em; */
    background-color: #fff;
    padding: 2em 0 4em;
}

.col-benefits {
    padding: 0;
    grid-column: 2 /-2;
    background-color: white;
}

.col-benefits-title {
    margin: 0;
}

.col-benefits-text {
    margin-bottom: 1.5em;
}


.col-benefits-text:last-child {
    margin-bottom: 3em;
}

.companies-container {
    background-color: #000;
    padding: 2em;
    grid-column: 1 /-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companies-title {
    color: #fff;
    text-align: center;
    margin: 0;
}

.companies-grid {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
} 

.companies-grid-item {
    flex: 1 0 48%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25em;
}

.companies-grid-item-logo {
    max-width: 150px;
    height: 75px;
    object-fit: contain;
}

.social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1.35rem;
    align-self: center;
}

.social-list-item {
    padding: 0;
    margin: 0;
    
}

.social-list-link {
    margin: 0 0.75em 0 0;
    color: #b4b4b4;
}

.social-list-link:hover,
.social-list-link:focus {
    color: #242424;
}


@media (min-width: 600px) {
    .col-benefits:first-of-type {
        grid-column: 2 / span 1;
    }
    
    .col-benefits {
        grid-column: span 1;
    }

    .companies-container {
        padding: 2em 0;
        grid-column: 2 /-2;
    }

    .companies-grid {
        flex-flow: row wrap;
    } 
    
    .companies-grid-item {
        flex: 1 0 30%;
    } 

    .companies-title {
        margin-bottom: 1em;
    }

    .col-benefits-text {
        font-size: 1.25rem;
    }

}

@media (min-width: 800px) {
    .companies-title {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    .main-template {
        background-color: #f8e2f7; 
        margin: 4.1em 0 290px;
        z-index: 6;
 }
}


/* ================ Footer ================== */

.footer {
    background-color: #f9f9f9;
    margin: 0;
    color: #bbbbbb;
}

.footer a {
    color: #bbbbbb;
}

.footer-content {
    grid-column: 2/-2;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    padding: 2em 0;
}

.copyright-container {
    text-align: center;
    background-color: white;
    margin: 0;
    grid-column: 1/-1;
    padding: 1em;
    opacity: 0.8;
}

.copyright {
    margin: 0;
    font-size: 0.75rem;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.logo-footer {
    width: 75px;
    margin-bottom: 16px;
    opacity: 0.4;
}

.footer .social-list-link {
    margin: 0 5px;
}

.footer .nav-list {
    padding: 0;
    align-items: center;
    margin-bottom: 1em;
}

.footer .nav-item {
    margin: 0.25em;
}

.footer .nav-link{ 
    opacity: 0.8;
    font-size: 1rem;
} 

/* Footer Navigation */

@media (min-width: 450px) {

    .footer-content {
        flex-flow: wrap row;
    }

    .footer .nav-list {
        margin: 0;
        order: 2;
    }

}

@media (min-width:618px) {
    .footer .nav-list {
        flex-direction: row;
        padding: 1em 0;
        justify-content: space-between;
        order: 1;
    }
    
    .footer .nav-item {
        margin-left: 1em;
    }

    .footer .nav-item:first-child {
        margin-left: 0em;
    }
}

@media (min-width:800px) {
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
}